<% if signed_in? %>
  <div class="row">
    <aside class="span9">
      Put home page info here!
    </aside>
    <div class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed', page_links: false  %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Fort Folly Website</h1>

    <h2>
      This is the home page. Add more content here!
    </h2>

  </div>

<% end %>
