<footer class="footer">
  <div id="footer-address">
      <p>Fort Folly First Nation  •  PO Box 1007  •  Dorchester, NB E4K-3V5  •  Tel: (506) 379-3400  •  Fax: (506) 379-3408</p>
      <p>Fort Folly First Nation © 2013.  All Rights Reserved</p>
  </div>
  <div id="footer-created">
    <small>
      <p>Created by Michael Smith and Sandra Perry</p>
    </small>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path%></li>
    </ul>
  </nav>
</footer>
